/* *{
    box-sizing: border-box;
} */

body{
    background-image: url("./shara\ desert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    display: flex;
    justify-content: space-around;
}
  

.navbar{
    display: flex;
}

.nav1{
    color: aliceblue;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
}

.select{
    padding: 14px;
}

.button{
    width: 150px;
    height: 20px;
    border-radius: 20px;
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
}

.saharagrid{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.sahara{
    width:50%;
    display: block;
    padding-left: 80px;
}
.gid{
    width: 50%;
    display: flex;
}

.grid{
    width: 500px;
    height: 550px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 40px;
}

.h1{
    color: aliceblue;
    font-size: 100px;
    padding-top: 50px;
}

p{
    color: aliceblue;
    font-size: 18px;
}

.box1{
    background-color: aqua;
    background-image: url("./pic-1.png");
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
}

.box2{
    background-color: aqua;
    background-image: url("./pic-2.png");
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
}

.box3{
    background-color: aqua;
    background-image: url("./pic-3.png");
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
}

.box4{
    background-color: aqua;
    background-image: url("./pic-4.png");
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
}

.boxcontent{
    font-size: 18px;
    color: aliceblue;
}

/*########### Media query start ##########*/
/*########### Media query start ##########*/
/*########### Media query start ##########*/


@media screen and (max-width:800px) {
    body{
        background-image: url("./shara\ desert.jpg");
        background-repeat: repeat;
        background-size: cover;
    }
    
    .button{
        width: 150px;
        height: 20px;
        border-radius: 20px;
        background-color: aliceblue;
        color: black;
        text-align: center;
        padding: 5px;
        font-weight: bolder;
    }
    
    .saharagrid{
        width: 100%;
        display: block;
        justify-content: space-between;
    }
    .sahara{
        width:50%;
        display: block;
        padding-left: 80px;
        padding-bottom: 20px;
    }
    .gid{
        width: 50%;
        display: block;
    }
    
    .grid{
        width: 500px;
        height: 550px;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        row-gap: 10px;
    }
    
    .h1{
        color: aliceblue;
        font-size: 50px;
        padding-top: 50px;
    }
    
    p{
        color: aliceblue;
        font-size: 18px;
    }

    
.box1{
    background-color: aqua;
    background-image: url("./pic-1.png");
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
    height: 300px;
}

.box2{
    background-color: aqua;
    background-image: url("./pic-2.png");
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
    height: 300px;
}

.box3{
    background-color: aqua;
    background-image: url("./pic-3.png");
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
    height: 300px;
}

.box4{
    background-color: aqua;
    background-image: url("./pic-4.png");
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
    height: 300px;
}

}


